body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  color: black;
  font-size: 35px;
}
label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

input,
textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: beige;
  border: 2px solid #f0faf1;
  color: black;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

.font-txt {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.font-txt a {
  color:black ;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: black;
  border: 0;
  border-radius: 25px;
  background-color: beige;
  box-shadow: 0 0 20px rgba(25, 254 0, 0.4, alpha);
  cursor: pointer;
}

.btn:hover{
  background-color:rgb(217, 102, 20);
}

@media(max-width:991px) {
  body{
    padding: 30px;
  }
  form {
    padding: 50px 30px;
    width: 100%;
  }
  input{
    padding: 15px;
  }
}



